<!DOCTYPE html>
<html>

  <head>
    <title><%= settings.title %> | <%= @title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
  </head>

  <body> 
  
    <%= yield %>
  
  </body>
</html>
